* {
    margin: 0;
    padding: 0;
}

html,
body {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin: auto;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3.1px solid darkgoldenrod;
    padding: 5px;

}

.menu-category-box {
    display: flex;
    flex-direction: row;
}

.menu-category {
    margin: 25px 9px;
    color: darkgoldenrod;
    border: 2px solid darkgoldenrod;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: sans-serif;
    cursor: pointer;
}

.menu-items-grid {
    display: grid;
    grid-template-columns: auto auto;
 
}

.menu-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 45vw;
    margin: 10px;
}

.menu-item-img {
    height: 150px;
    width: 300px;
    border: 3px solid darkgoldenrod;
    border-radius: 7px;
    background-size: cover;
}

.item-info {
    height: 150px;
    width: 400px;
}

.menu-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid darkgoldenrod;
    margin: 2px 15px 10px 15px;
}

.name {
    font-size: medium;
    font-weight: bolder;
}

.item-price {
    color: darkgoldenrod;
    font-weight: bolder;
}

.item-ingrediant {
    margin: 0px 15px;
}

.menu-category:hover {
    transform: scale(1.2);
}

.menu-category:active {
    background-color: darkgoldenrod;
    color: white;
}

.menu-category-selected {
    transform: scale(1.2);
    background-color: darkgoldenrod;
    color: white;
}